.car-logo {
  display: block;
  width: 5em;
  height: auto;
  margin: auto;
}

.car-name {
  margin: 0 !important;
}

.car-model {
  margin-top: 0.5rem !important;
}

.provide-access {
  margin: auto;
}

.provide-span {
  display: inline-block;
  vertical-align: middle;
}

.provide-select {
  margin-left: 15px;
  margin-right: 15px;
}
